.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.list-group-item.isActive {
  border-left:5px solid purple;
}
  a .isActive{   
    font-weight: 900;
    color: purple;
  }