@import '../../styles.css';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 270px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.list-group-item.isActive {
  border-left: 5px solid purple;
  font-weight: bolder;
  font-size: larger;
}

/* a .isActive {
  font-weight: 900;f
  color: purple;
} */

.mat-drawer {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
}

.sidebarGreen li {
  background-color: #388E3C;
  color: #000000;
}

.sidebarRed li {
  background-color: #d50000;
  color: white;
}

.sidebarBlue li {
  background-color: #2196F3;
  color: #000000;
}


a:hover {
    background: black;
    color: white;
}

@import '../../themeBasedStyle';