@import '../../styles.css';

mat-form-field {
  width: 100%;
  margin-bottom: 3%;
}
 /deep/ mat-error {
    color: red;
  }

button {
  border: 2px solid transparent;
}

button:hover {
  border: 2px dotted red;
}

.bgBlackWhite {
  background-color: black;
  color: white;
  .sideDiv  {
    background-color: black;
    color:white;
    border: 1px solid white;
  }
  mat-form-field {
    background-color: white;
    color: black;
    border-radius: 7px;
  }
  /deep/ mat-label {
      color: black;
  }
  
}

.bgBlackYellow {
  background-color: black;
  color: yellow;
   .sideDiv  {
    background-color: black;
    color:yellow;
    border: 1px solid black;
  }
  mat-form-field {
    background-color: yellow;
    color: black;
    border-radius: 7px;
  }
  mat-label {
      color: black
  }
  mat-error {
      color: red;
  }
}

.bgYellowBlack {
  background-color: yellow;
  color: black;
   .sideDiv  {
    background-color: yellow;
    color:black;
    border: 1px solid black;
  }
  mat-form-field {
    background-color: black;
    color: orange;
    border-radius: 7px;
  }
    mat-label {
         color: white;
  }
  mat-error {
    color: red;   
  }
}

.sideDiv {
  background-color: lightgrey;
  border-radius: 7px;
  padding: 3%;
  .sideBarRow {
  margin: 2% 0 2% 0;
}

.totalRow {
  // border-top: 1px solid black;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom:4%;
  font-size: 20px;
}
.borderDiv {
  border-top: 1px solid black;
}
}

.errorDiv {
  color: red;
  font-size: larger;
  font-weight: bolder;
}

::ng-deep .mat-tooltip {
  /* your own custom styles here */
  /* e.g. */
  background-color: black !important;
  color: yellow !important;
  padding: 2%;
  font-size: 15px;
}

@import '../../themeBasedStyle';