<div class="container-fluid mt-3" class="productDescription container-fluid mt-3" [ngClass]="{'bgBlackWhite': isBWclicked,
 'bgBlackYellow': isBYclicked,
  'bgYellowBlack': isYBclicked}">
  <div class="row mb-3">
    <div class="col-12">
      <div class="utilityBar">
        <div class="row">
          <div class="col-4">
            <div>
              <button mat-raised-button (click)="isBWclicked = !isBWclicked"
                matTooltip="Background: Black , Text: white" class="bgBlackWhite"
                aria-label="Button for black and white contras" matTooltipPosition="right">
                Black & White <span *ngIf="isBWclicked"> : Active </span>
              </button></div>
          </div>
          <div class="col-4">
            <div>
              <button mat-raised-button (click)="isBYclicked = !isBYclicked"
                matTooltip="Background: Black , Text: Yellow" class="bgBlackYellow"
                aria-label="Button for black and yellow contras" matTooltipPosition="right">
                Black and Yellow <span *ngIf="isBYclicked"> : Active </span>
              </button></div>
          </div>
          <div class="col-4">
            <div>
              <button mat-raised-button (click)="isYBclicked = !isYBclicked"
                matTooltip="Background: Yellow , Text: Black" class="bgYellowBlack"
                aria-label="Button for yellow and black contras" matTooltipPosition="right">
                Yellow & Black <span *ngIf="isYBclicked"> : Active </span>
              </button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div>
        <h4>Payment</h4>
      </div>
    </div>
    <div class="col-6">
      <div *ngIf="appTheme !== ''">
        <h4>Slected theme : {{appTheme}}</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12">
      <div>
        <div class="row">
          <div class="col-12">
            <div>
              <!--  [ngClass]="isBWclicked || isBYclicked || isYBclicked ? 'formFieldBG' : 'none'" -->
              <form action="" [formGroup]="paymentForm" [ngClass]="{'bgBlackWhite': isBWclicked,
 'bgBlackYellow': isBYclicked,
  'bgYellowBlack': isYBclicked}">
                <form action="" formGroupName="billingInfo">
                  <div>
                    <mat-form-field appearance="fill">
                      <mat-label>First Name</mat-label>
                      <input matInput placeholder="First Name" formControlName="firstName" required>
                      <mat-error *ngIf="billingFirstName.invalid">First name required</mat-error>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field appearance="fill">
                      <mat-label>Last Name</mat-label>
                      <input matInput placeholder="Last Name" formControlName="lastName">
                      <mat-error *ngIf="billingLastName.invalid">Last name required</mat-error>
                    </mat-form-field>
                  </div>
                </form>
                <form action="" formGroupName="billingAddress">
                  <mat-form-field appearance="fill">
                    <mat-label>Address line 1</mat-label>
                    <input matInput placeholder="Address line 1" formControlName="addressLine1">
                    <mat-error *ngIf="billingAddLineOne.invalid">Address required</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Address line 2</mat-label>
                    <input matInput placeholder="Address line 2" formControlName="addressLine2">
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="City" formControlName="city">
                    <mat-error *ngIf="billingAddCity.invalid">City required</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>ZIP</mat-label>
                    <input matInput placeholder="ZIP" formControlName="zip">
                    <mat-error *ngIf="billingAddZip.invalid">ZIP required</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>State</mat-label>
                    <input matInput placeholder="State" formControlName="state">
                    <mat-error *ngIf="billingAddState.invalid">State required</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Country</mat-label>
                    <input matInput placeholder="Country" formControlName="country">
                    <mat-error *ngIf="billingAddCountry.invalid">Country required</mat-error>
                  </mat-form-field>

                </form>
                <form action="" formGroupName="paymentMethod">
                  <mat-form-field appearance="fill">
                    <mat-label>Card Holder Name</mat-label>
                    <input matInput formControlName="cardHolderName" placeholder="Card Holder Name">
                    <mat-error *ngIf="billingcardHolderName.invalid">Card-holder name required</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Card Number</mat-label>
                    <input matInput formControlName="cardNumber" placeholder="Card Number">
                    <mat-error *ngIf="billingcardHolderCvv.invalid">Card number required</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>CVV</mat-label>
                    <input matInput formControlName="cvvNumber" placeholder="CVV">
                    <mat-error *ngIf="billingFirstName.invalid">CVV number required</mat-error>
                  </mat-form-field>
                </form>
              </form>
            </div>

          </div>
        </div>
        <div class="row mt-4 mb-5">
          <div class="col-6 centerThings">
            <div class="col-auto"><button class="nextBtn" (click)="goNext(3)" color="primary" mat-raised-button
                matTooltip="Go to next page" aria-label="Button for navigation to previous page"
                matTooltipPosition="right">Back</button></div>
          </div>
          <div class="col-6 centerThings">
            <div class="col-auto"><button class="previousBtn" color="primary" mat-raised-button
                matTooltip="Go to next page" aria-label="Button for navigation to next page" matTooltipPosition="right"
                (click)="submit()">Submit</button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12">
      <div class="sideDiv" *ngFor="let item of orderedTshirt" [ngClass]="{'bgBlackWhite': isBWclicked,
 'bgBlackYellow': isBYclicked,
  'bgYellowBlack': isYBclicked}">
        <div class="row sideBarRow">
          <div class="col-6">
            <div><strong>
                Slected item
              </strong></div>
          </div>
          <div class="col-6">
            <div><span>
                {{item.type}}
              </span></div>
          </div>
        </div>
        <div class="row sideBarRow">
          <div class="col-6">
            <div><strong>
                Quantity
              </strong></div>
          </div>
          <div class="col-6">
            <div><span>
                1
              </span></div>
          </div>
        </div>
        <div class="row sideBarRow">
          <div class="col-6">
            <div><strong>
                Color
              </strong></div>
          </div>
          <div class="col-6">
            <div><span>
                {{item.color}}
              </span></div>
          </div>
        </div>
        <div class="row sideBarRow totalRow">
          <div class="col-12">
            <div class="borderDiv"></div>
          </div>
          <div class="col-6">
            <div><strong>
                Total
              </strong></div>
          </div>
          <div class="col-6">
            <div><span>
                {{item.price | currency }}
              </span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
