<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="dashboard">
        <div class="row">
          <div class="col-6" *ngFor="let product of availableCategory?.productCategory">
            <div class="catogeryBox boxIndex"> 
              <button mat-button  style="width:100%;">
                <p class="mb-0">{{product.type | capitalize}}</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
