@import '../../styles.css';

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

button {
  border: 2px solid transparent;
}

button:hover {
  border: 2px dotted red;
}

.dashboard {
  width: 100%;
  height: -webkit-fill-available;

  .catogeryBox {
    border-radius: 7px;
    cursor: pointer;
    margin: 3%;
  }

  .categoryBtn {
    width: 100%;
  }
}

.active {
  background-color: black;
}


::ng-deep .mat-tooltip {
    /* your own custom styles here */ 
    /* e.g. */
    background-color: black !important;
    color: yellow !important;
    padding: 2%;
    font-size: 15px;
}