<div class="removeUserPopup">
  <mat-dialog-content class="removeUser">
    <div class="row">
      <div class="col-12 removeUserText centerThings">
        <!-- <div style="width: 100%"> -->
        <h3 class="m-3 p-2">Select your theme</h3>
        <!-- </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="radioTheme p-3 fullWidth">
          <mat-radio-group [(ngModel)]="selectedTheme">
            <mat-radio-button *ngFor="let theme of themes" [value]="theme">{{theme}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="selectedTheme  !== ''" class="confirmTheme mt-3 centerThings">
          <button color="primary" (click)="getSelectedTheme(selectedTheme)" mat-raised-button mat-dialog-close>
            Confirm
          </button>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>
