/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
/* @import "./my-theme.scss"; */

html,
body {
  height: 100%;
}

body {
  margin: 0;
}


button:hover {
  border: 2px dotted red;
}

a {
  border: 2px solid transparent;
}
a:hover {
  border: 2px dotted red;
}

.centerThings {
  text-align: center;
  margin: auto;
}

.fullWidth {
  width: 100%;
}
.nextBtn , .previousBtn{
  width: 50%;
  padding: 2%;
}

/* .previouseBtn {
  width: 50%;
  padding
} */
.utilityBar {
   /* // border: 1px solid red; */
   margin: auto;
   text-align: center;
   padding-top: 1%;
   padding-bottom: 2%;
   border-bottom: 7px double blue;
}
.bgBlackWhite {
  background-color: black;
  color: white;
}

.bgBlackYellow {
  background-color: black;
  color: yellow;
}

.bgYellowBlack {
  background-color: yellow;
  color: black;
}
