.redThemeClass {
    .categoryBt {
        color: white; 
    }  
}

.blueThemeClass {
      .categoryBt , .themeChangeBtn, .nextBtn, .previousBtn{
        color: #000000; 
    } 
}

.greenThemeClass {
     .categoryBt , .themeChangeBtn, .nextBtn, .previousBtn {
        color: #000000; 
    }   
}
